.container{
margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    background-color: rgb(247, 236, 223) !important;
}

.infected {
    border: 15px solid rgba(243, 44, 9, 0.856);
}

.recovered {
    border: 15px solid rgba(13, 111, 175, 0.5);
}
.deaths {
    border: 15px solid rgba(39, 35, 34, 0.5);
}
